.sar-next {
  .big-and-red {
    //color: mat.get-theme-color($theme, tertiary, 80);
    //color: red;
    font-size: 1.5em;
    font-family: "Montez", cursive;
    transform: rotate(14deg);
    font-weight: 900;
  }
}
