// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@use "app/shared/styles/INTC-theme.scss";
@use "app/shared/styles/header-component.theme";
@use "app/shared/styles/sidenav-component.theme";
@use "app/shared/styles/icon-component.theme";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$ATAC-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      ),
    ));

$theme: INTC-theme.$light-theme;
$alternate: INTC-theme.$dark-theme;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  //@include mat.all-component-themes($theme);
  @include mat.system-level-colors($theme);
  @include mat.system-level-typography($theme);

  @include mat.core-theme($theme);
  @include mat.button-theme($theme);
  @include mat.fab-theme($theme);
  @include mat.form-field-theme($theme);
  @include mat.table-theme($theme);
  @include mat.progress-spinner-theme($theme);
  @include mat.tooltip-theme($theme);

  @include header-component.colour($theme);
  @include header-component.typography($theme);
  @include sidenav-component.colour($theme);
  @include icon-component.colour($theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($ATAC-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($ATAC-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: IntelOne BodyText, Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
}

a {
  color: mat.get-theme-color($theme, secondary, 90);

  &:hover,
  &:active {
    //background-color: #9965dd;
    color: mat.get-theme-color($theme, on-primary);
  }

  &.selected {
    //background-color: #9965dd;
    color: mat.get-theme-color($theme, tertiary, 60);
  }

  font: inherit;
  cursor: pointer;
  text-decoration: none;
}