<mat-sidenav-container
  class="sidenav-container"
  (backdropClick)="onCloseSideNav()"
>
  <mat-sidenav
    fixedInViewport="true"
    mode="over"
    position="end"
    [opened]="sidebarStatus()"
    class="sidenav INTC-sidenav"
    (keydown.escape)="onCloseSideNav()"
  >
    <div class="close-button-container">
      <app-button-bar
        [buttonList]="[{ type: 'closeSidebar', icon: 'close' }]"
      />
    </div>
    @switch (contentToShow()) { @case ('settings') {<app-settings />} @case
    ('links') {
    <app-links-list />
    } }
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      @if (isLazyLoading) {<app-loading-placeholder /> } @else{
      <router-outlet />}
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
