@use "../shared/styles/shared-variables" as vars;
$padding-right: 0.2em;
.header-container {
  height: vars.$header-height;
  mat-toolbar {
    height: 100%;
    mat-toolbar-row:first-of-type {
      height: vars.$brand-bar-height;
      display: grid;
      align-content: center;
    }
    mat-toolbar-row:last-of-type {
      height: vars.$navbar-height;
      display: grid;
      align-content: center;
    }
  }
  box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.5);
}
.spacer {
  flex: 1 1 auto;
}

.logo {
  height: 80%;
}

.sar-next {
  display: flex;
  padding-right: $padding-right;
  .big-and-red {
    color: red;
    font-size: 1.3em;
    font-family: "Montez", cursive;
    transform: rotate(14deg);
    font-weight: 900;
  }
}
