<div [class]="['button-row', 'header-buttons', iconColour()]">
  @for (button of buttonList(); track $index) { @switch (button.type) { @case
  ('link') {<a [routerLink]="[button.link]"
    ><button mat-mini-fab [hidden]="sideBarIsOpen()">
      <mat-icon>{{ button.icon }}</mat-icon>
    </button></a
  >} @case('action') {<button mat-mini-fab [hidden]="sideBarIsOpen()">
    <mat-icon>{{ button.icon }}</mat-icon>
  </button>
  } @case('openSidebar') {<button
    mat-mini-fab
    [hidden]="sideBarIsOpen()"
    (click)="onOpenSidebar(button.contentToShow!)"
  >
    <mat-icon> {{ button.icon }}</mat-icon></button
  >} @case('closeSidebar'){<button mat-mini-fab (click)="onCloseSidebar()">
    <mat-icon>{{ button.icon }}</mat-icon></button
  >} } }
</div>
